org: faridaquino
service: auth-service

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  environment:
    USER_POOL_ID: "us-east-1_XXXXXX"     # <--- PON TU ID REAL AQUÍ
    CLIENT_ID: "5m3kXXXXXXX"             # <--- PON TU ID REAL AQUÍ
    USERS_TABLE: users-table-${sls:stage}
  
  # --- OPCIÓN A: Si tienes permisos de administrador ---
  iamRoleStatements:
    - Effect: Allow
      Action:
        - cognito-idp:SignUp
        - cognito-idp:InitiateAuth
      Resource: "arn:aws:cognito-idp:us-east-1:*:userpool/*"
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
      Resource: 
        - Fn::GetAtt: [UsersTable, Arn]

  # --- OPCIÓN B: Si usas AWS Academy/Workshop (Descomenta esto y comenta lo de arriba) ---
  # role: arn:aws:iam::TU_ACCOUNT_ID:role/WSParticipantRole

functions:
  login:
    handler: handler.login
    events:
      - http:
          path: login
          method: post
          cors: true
  register:
    handler: handler.register
    events:
      - http:
          path: register
          method: post
          cors: true

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: users-table-${sls:stage}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST