org: faridaquino
service: auth-service

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  environment:
    USER_POOL_ID: "us-east-1_CbDyhAcqE"     # <--- TU ID DE COGNITO
    CLIENT_ID: "3srpb1h5s3o6d2a5qu4bvoomq9"             # <--- TU APP CLIENT ID
    TABLE_USUARIOS: ${env:TABLE_USUARIOS, 'TABLE_USUARIOS'}
    TABLE_DEPENDIENTES: ${env:TABLE_DEPENDIENTES, 'TABLE_DEPENDIENTES'}
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - cognito-idp:SignUp
        - cognito-idp:InitiateAuth
        - cognito-idp:AdminConfirmSignUp  # <--- PERMISO OBLIGATORIO PARA AUTO-CONFIRMAR
      Resource: "arn:aws:cognito-idp:us-east-1:*:userpool/*"
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem

functions:
  login:
    handler: handler.login
    events:
      - http:
          path: login
          method: post
          cors: true
  register:
    handler: handler.register
    events:
      - http:
          path: register
          method: post
          cors: true
  activarModoFamiliar:
    handler: activarModoFamiliar.activar_modo_familiar
    events:
      - http:
          path: activar-modo-familiar
          method: put
          cors: true
  agregarDependiente:
    handler: agregarDependiente.agregar_dependiente
    events:
      - http:
          path: agregar-dependiente
          method: post
          cors: true