org: faridaquino
service: auth-service

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  environment:
    USER_POOL_ID: "us-east-1_XXXXXX"     # <--- TU ID DE COGNITO
    CLIENT_ID: "5m3kXXXXXXX"             # <--- TU APP CLIENT ID
    USERS_TABLE: users-table-${sls:stage}
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - cognito-idp:SignUp
        - cognito-idp:InitiateAuth
        - cognito-idp:AdminConfirmSignUp  # <--- PERMISO OBLIGATORIO PARA AUTO-CONFIRMAR
      Resource: "arn:aws:cognito-idp:us-east-1:*:userpool/*"
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
      Resource: 
        - Fn::GetAtt: [UsersTable, Arn]

functions:
  login:
    handler: handler.login
    events:
      - http:
          path: login
          method: post
          cors: true
  register:
    handler: handler.register
    events:
      - http:
          path: register
          method: post
          cors: true

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: users-table-${sls:stage}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST