org: faridaquino
service: auth-service

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  environment:
    USER_POOL_ID: "us-east-1_CbDyhAcqE"
    CLIENT_ID: "3srpb1h5s3o6d2a5qu4bvoomq9"
    TABLE_USUARIOS: Usuarios
    TABLE_DEPENDIENTES: UsuariosDependientes
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - cognito-idp:SignUp
        - cognito-idp:InitiateAuth
        - cognito-idp:AdminConfirmSignUp
      Resource: "arn:aws:cognito-idp:us-east-1:*:userpool/*"
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:Query
      Resource:
        - "arn:aws:dynamodb:us-east-1:*:table/Usuarios"
        - "arn:aws:dynamodb:us-east-1:*:table/UsuariosDependientes"

functions:
  login:
    handler: handler.login
    events:
      - http:
          path: login
          method: post
          cors: true
  register:
    handler: handler.register
    events:
      - http:
          path: register
          method: post
          cors: true
  activarModoFamiliar:
    handler: activarModoFamiliar.activar_modo_familiar
    events:
      - http:
          path: activar-modo-familiar
          method: put
          cors: true
  agregarDependiente:
    handler: agregarDependiente.agregar_dependiente
    events:
      - http:
          path: agregar-dependiente
          method: post
          cors: true
  listarDependientes:
    handler: listarDependientes.listar_dependientes
    events:
      - http:
          path: listar-dependientes
          method: get
          cors: true