org: faridaquino
service: calendar-api-system

provider:
  name: aws
  
  runtime: python3.10
  region: us-east-1
  iam:
    role: arn:aws:iam::551642315125:role/LabRole

  environment:
    
    GOOGLE_CLIENT_ID: "TU_CLIENT_ID_AQUI.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET: "TU_CLIENT_SECRET_AQUI"
    GOOGLE_REFRESH_TOKEN: "TU_REFRESH_TOKEN_LARGO_AQUI"
    TABLE_NAME: ${sls:stage}-t_citas 

package:
  patterns:
    - '!node_modules/**'       # Ignorar carpeta de node
    - '!.serverless/**'        # Ignorar carpeta oculta de despliegue
    - '!venv/**'               # Ignorar entorno virtual (si tienes uno)
    - '!__pycache__/**'        # Ignorar archivos compilados de python
    - '!package-lock.json'
    - ./** # Incluir todo lo demás (tu código + librerías instaladas)

functions:
  scheduleAppointment:
    handler: handler.create_cita
    events:
      - http:
          path: calendar/cita
          method: post
          cors: true

  scheduleTreatment:
    handler: handler.create_recurring_event
    events:
      - http:
          path: calendar/tratamiento
          method: post
          cors: true
resources:
  Resources:
    TablaComentarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        # Set the capacity to auto-scale
        BillingMode: PAY_PER_REQUEST
